<mat-drawer-container class="container" autosize>

    <!-- Боковая панель -->
    <mat-drawer #drawer class="sidenav" closed mode="side">
        <app-sidemenu></app-sidemenu>
    </mat-drawer>

    <!-- Содержание -->
    <mat-drawer-content>

        <!-- Верхняя панель -->
        <mat-toolbar>
            <button mat-icon-button color="basic" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <app-navbar></app-navbar>

        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-drawer-content>

</mat-drawer-container>